<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Mostrar el nombre de usuario aquí -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido, {{ nombreUsuario }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Este es tu perfil, {{ nombreUsuario }}. Aquí podrás ver más detalles.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
