<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Encabezado</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Inicio Sesión</ion-card-title>
      <ion-img src="assets/img/pastel.jpg" id="pastel"></ion-img>
    </ion-card-header>

    <ion-card-content>
      <!-- Campo de usuario -->
      <ion-item>
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-input 
          type="text" 
          placeholder="Ingrese su usuario" 
          [(ngModel)]="user.usuario">
        </ion-input>
      </ion-item>

      <!-- Campo de contraseña -->
      <ion-item>
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input 
          type="password" 
          placeholder="Ingrese su contraseña" 
          [(ngModel)]="user.contrasena">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>

      <!-- Mensaje -->
      <div id="cuadroMsj">
        <ion-label>{{ msj }}</ion-label>
      </div>

      <!-- Botón -->
      <ion-button 
        shape="round" 
        size="small" 
        id="btnConectar" 
        (click)="conectar()">
        Conectar
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
